.homeBox{
    background-color: white;
    padding: 7px;
}
.homeBox > div{
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    text-align: left;
    font-size: 13px;
    align-items: center;
    font-weight: 700;
    padding: 0 7px;
}
.homeBox > div >img{
    border: 1px solid green;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}